**/.DS_Store
datadir
misc
app1/family-fund-app/public/pdf_file.pdf
backups
/.phpunit.result.cache
/tutorials/
/app1/datadir_dev/
/app1/datadir_prod/
/vendor/
database/dev/familyfund_dev_data_20220806.sql
database/dev/familyfund_dev_data_20241223.sql
database/dev/familyfund_dev_data_220723.sql
database/dev/familyfund_dev_data_240107.sql
database/dev/familyfund_dev_data_240110.sql
database/dev/familyfund_dev_data_240228.sql
database/dev/familyfund_dev_full_240228.sql
